/** Makesift Reset */
* {
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	padding: 22px 0;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #F0F0F0;
}

h1, h2 {
  color: #777;
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #777;
}
/*-------------------------------------------------------------**/


/** Header */
/*-------------------------------------------------------------**/


/** Navigation */
nav {
  background-color: black;
  left: 0;
  position: absolute;
	width: 100%;
}

nav ul {
	margin: 0 auto;
	width: 940px;
	list-style: none;
}

nav ul li {
	float: left;
}
		
nav ul li a {
	display: block;
	font-size: 14px;
	line-height: 44px;
	margin-right: 20px;
	text-align: center;
	width: 100px;
}
/*-------------------------------------------------------------**/


/** Content */
#content {
  margin-top: 44px;
}
/*-------------------------------------------------------------**/


/** Contact Form */
#contact {
  margin-top: 70px;
}

fieldset {
  border: 1px solid grey;
  margin: 0 auto 20px;
  padding: 5px;
  width: 500px;
}

.input {
  margin-top: 15px;
}

label {
  float: left;
  margin: 0 10px 0;
  text-align: right;
  width: 120px;
}

input[type="text"],
input[type="email"],
textarea {
  border: 2px solid grey;
  padding: 2px 3px;
  width: 300px;
}

#submit {
  float: right;
  margin: 15px 50px 20px 0;
}

.error {
  border-color: red !important;
}

div.error {
  color: red;
  margin: 2px 50px 5px;
  float: right;
  width: 400px;
}

div.error p {
  padding: 2px 3px;
  text-align: right;
}
/*-------------------------------------------------------------**/


/** Footer */
footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #222;
}

footer div {
	display: table;
	margin: 0 auto;
	padding: 10px 0;
	width: 940px;
	color: #777;
}

footer div section {
	display: table-cell;
	text-align: center;
	width: 300px;
}
/*-------------------------------------------------------------**/