!!!
%html
  %head
    %title Jekyll's Contact Form
    %meta{:"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
    
    %link{:rel =>'shortcut icon', :href=>'/favicon.ico', :type=>'image/x-icon'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/master.css', :media=>'screen'}

  %body
    %header
      %h1 Jekyll's Contact From brought to you by Sinatra

    %nav
      %ul
        %li
          %a{:href=>'/', :title=>'Home'} Blog
        %li
          %a{:href=>'http://localhost:4567/contact', :title=>'Contact'} Contact
    
    %section#content== #{content}
      
    %footer
      %div
        %section#jekyll
          Powered by 
          %a{:href=>"http://github.com/richguk/jekyll", :title=>"Jekyll"} Jekyll
        %section#from
          A
          %a{:href=>"http://ghickman.co.uk", :title=>"GHickman Blog"} GHickman
          project